@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  width: inherit;
  min-height: inherit;
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #000;
  line-height: 1.5;
  background-color: #eee;
  min-width: fit-content;
}

a {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #eee;
  color: #0a523b;
  position: fixed;
  top: 0;
  padding: 30px 30px 30px 30px;
}

.navbar a {
  color: #0a523b;
  margin-left: 30px;
}

.main {
  background-image: url('../img/background.jpg');
}

.content {
  padding: 90px 0px 30px 0px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
}

.content .welcome_message {
  background: #0d674a;
  height: auto;
  padding: 30px;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  color: white;
}

.content .home_banner {
  background-image: url('../img/home_banner.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
}

.content .banner {
  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .content .home-banner {
    height: 400px;
  }

  .content .banner {
    height: 400px;
  }
}

.content h1 {
  margin-bottom: 30px;
  color: #0d674a;
}

.content h2 {
  margin-bottom: 20px;
}

.grid {
  width: 80%;
}

.grid img {
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.col {
  width: 30%;
}

.col img {
  width: 100%;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .row {
    display: block;
  }
  .col {
    width: 100%;
  }
}

.call_to_actions {
  display: flex;
  flex-direction: row;
}

.call_to_actions div {
  color: #0a523b;
}

.call_to_actions .image {
  width: 50%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.call_to_actions .promos {
  background-image: url('../img/promos.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;

}

.call_to_actions .recipes {
  background-image: url('../img/recipes.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.call_to_actions div .content {
  background: white;
  height: auto;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #0d674a;
  display: flex;
  flex-direction: column;
}

.call_to_actions div .content h3 {
  margin-bottom: 15px;
}

.call_to_actions div .content button {
  padding: 10px;
  border: 2px solid #0d674a;
  background: #0d674a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.product_content {
  color: #0d674a;
  font-weight: bold;
}

.product_content button {
  padding: 10px;
  background: #eee;
  color: #0d674a;
  border-radius: 5px;
  cursor: pointer;
  min-width: 50px;
  margin-top: 15px;
}

.product_content .counter button {
  padding: 10px;
  background: #0d674a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  min-width: 50px;
  margin-top: 15px;
}

footer {
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 30px;
  background-color: #eee;
  color: #0a523b;
}

/* Resposiveness check */

@media (max-width: 1024px) {
  .row {
    display: block;
  }
  .col {
    width: 100%;
  }
}

.call_to_actions {
  display: flex;
  flex-direction: row;
}
